@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Manrope:wght@200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  position: relative;

}

.layout {
  height: 100vh;
  background-image:
  linear-gradient(to bottom , white , #dbeafe ,white)
}

.navbar-root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}
.logo{
  font-size: 25px;
  font-weight: 800;
}

.links{
  display: flex;
  gap: 20px;
  align-items: center;
}

.links-item{
  font-size: 14px;
  text-decoration: none;
  color: #525252;

}

.links-item:hover{
 
  color: black;
  transition: color 0.2s ease-out;

}
.btn {
  all: unset;
  font-size: 14px;
  padding: 6px 12px;
  background-color: #3b82f6;
  border-radius: 8px;
  color: #FFFFFF;
  text-shadow: 0px 0.5px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  cursor: pointer;
}

.hero-root {
  padding: 60px 0 ;
}

.badge {
  font-size: 12px;
  max-width:270px;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 4px 16px;
  width: fit-content;
  margin: 0 auto;
  border: 0.5px solid #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.badge:hover{
  background-color: #e5e5e5;
  transition: background-color 0.2s ease-out;

}

.hero-title {
  font-size: 63px;
  font-weight: 510;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 0.9;
  margin-top: 70px;
}

.hero-subtitles{
  font-size: 18px;
  color: #737373;
  margin-top: 24px;
  text-align: center
}

.hero-cta{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
}

.btn-secondary{
  all: unset;
  color: black;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  border-radius: 5px;

  &:hover{
    background-color: #d4d4d4;
  }
}

.left-line{
  height:100%;
  width: 0.5px;
  background: linear-gradient(to bottom , #d4d4d4 ,#d4d4d4) ;
  position: absolute;
  left:-10px;
  opacity: 0.5px;
}

.right-line{
  height:100%;
  width: 0.5px;
  background: linear-gradient(to bottom , #d4d4d4 ,#d4d4d4) ;
  position: absolute;
  right:-10px;
  opacity: 0.5px;
}